<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="flash">
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
</div>


<h1>Books</h1>

	<table>
		<thead>
			<tr>
			<th width="200">Title</th>
		    <th width="300">Body</th>
		    <th class="table-show"></th>
            <th class="table-edit"></th>
		    <th class="table-destroy"></th>
			</tr>
		</thead>

		<tbody>
			<% @books.each do |book| %>

		<tr>
			<td><span><%= book.title %></span></td>
			<td><span><%= book.body %></span></td>
			<td><span><%= link_to "Show", book_path(book.id)%></span></td>
			<td><span><%= link_to "Edit", edit_book_path(book.id) %></span></td>
			<td><span><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" =>"Are you sure？" %></span></td>
			</tr>
			<% end %>

		</tbody>
	</table><br>

<h1>New book</h1>

<%= form_for(@book) do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_field :body%>
  <br>
  <%= f.submit 'Create Book'%>

<% end %>


</body>
</html>